*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.font-value, .form-item__input {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px; }

.font-label, .form-item__label, .footer-content__text, .footer-content__order, .text-offert {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3px; }

.font-error, .form-item__error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px; }

.default-font, body {
  font-family: "Roboto", sans-serif; }

.transition, .form-item__input:focus, .icon-question, .btn, .save-checkbox, .tooltip .tooltip-text, .custom-tooltip {
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out; }

footer {
  height: 200px;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex: 0 auto; }

html {
  min-width: 320px;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff; }

input,
button {
  outline: none; }

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start; }

.form {
  box-shadow: 0px 0px 4px rgba(64, 64, 64, 0.08), 0px 4px 16px rgba(64, 64, 64, 0.16);
  border-radius: 12px;
  position: relative;
  max-width: 412px;
  width: 100%;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 58px;
  margin-bottom: 32px; }
  .form__logo {
    width: 55px;
    height: 47px;
    position: absolute;
    right: 25px;
    top: 24px; }

.form-item {
  width: 100%; }
  .form-item_short {
    width: 100%;
    max-width: 124px; }
    .form-item_short:first-of-type {
      margin-right: 32px; }
    .form-item_short:last-of-type {
      margin-right: 20px; }
  .form-item:first-of-type {
    margin-bottom: 11px; }
  .form-item__input {
    color: #595959;
    height: 26px;
    max-width: 100%;
    border: 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #a6a6a6;
    width: 100%;
    position: relative; }
    .form-item__input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #f2f2f2; }
    .form-item__input::-moz-placeholder {
      /* Firefox 19+ */
      color: #f2f2f2; }
    .form-item__input:-ms-input-placeholder {
      /* IE 10+ */
      color: #f2f2f2; }
    .form-item__input:-moz-placeholder {
      /* Firefox 18- */
      color: #f2f2f2; }
    .form-item__input:focus {
      border-color: #ff335f;
      caret-color: #ff335f; }
    .form-item__input.error {
      border-color: #ff3b30; }
  .form-item__label {
    margin-bottom: 11px;
    color: #a6a6a6;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    height: 18px; }
  .form-item__error {
    min-height: 14px;
    margin-top: 4px; }
    .form-item__error_date {
      min-height: 28px; }
  .form-item.error .form-item__error .hidden {
    visibility: visible; }
  .form-item.error .form-item__input {
    color: #ff3b30;
    border-color: #ff3b30; }
  .form-item.error .form-item__label {
    color: #ff3b30; }

.error {
  color: #ff3b30; }

.hidden {
  visibility: hidden; }

.icon-question {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  background-image: url("../img/ic_ques.svg");
  background-position: center; }
  .icon-question:hover {
    background-image: url("../img/ic_ques-hover.svg"); }

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch; }

.wrapper {
  flex: 1;
  flex: 1 0 auto; }

.form-item-group-short {
  display: flex; }

.footer-content {
  flex-direction: column;
  margin: 16px 0; }
  .footer-content__text {
    margin-bottom: 16px; }
  .footer-content__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 160px;
    margin-bottom: 24px; }
  .footer-content__text {
    max-width: 209px;
    font-size: 11px;
    color: #a6a6a6;
    position: relative;
    padding-left: 22px; }
    .footer-content__text::after {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      transform: translateY(50%);
      width: 16px;
      height: 16px;
      background-image: url("../img/ic_lock.svg");
      background-position: center; }
  .footer-content__order {
    font-size: 11px;
    color: #a6a6a6; }

.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 0.3px;
  padding: 23px 106px;
  border-radius: 56px;
  border: 0;
  letter-spacing: 0.3px;
  cursor: pointer;
  background-color: #ff335f;
  margin-bottom: 24px; }
  .btn:hover {
    box-shadow: 0px 0px 16px #ff335f;
    background-color: #ff446d; }
  .btn:active {
    background-color: #e1264f;
    box-shadow: none; }
  .btn:disabled {
    background-color: #a6a6a6;
    box-shadow: none;
    cursor: not-allowed; }

.text-offert {
  color: #a6a6a6;
  font-size: 11px;
  max-width: 240px;
  text-align: center;
  margin-bottom: 24px; }
  .text-offert a {
    color: #595959;
    text-decoration: underline; }

.save-section {
  margin-bottom: 68px; }

.save-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  .save-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
    letter-spacing: 0.3px; }
    .save-checkbox + label:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 2px solid #a6a6a6;
      border-radius: 6px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 16px; }
  .save-checkbox:checked + label::before {
    background-color: transparent;
    border: 0;
    background-image: url("../img/checked.svg"); }
  .save-checkbox:focus:not(:checked) + label::before {
    border-color: #a6a6a6;
    border: 2px solid #a6a6a6; }
  .save-checkbox:disabled + label::before {
    background-color: #a6a6a6;
    border: 0; }

.tooltip {
  position: relative;
  cursor: pointer; }
  .tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 152px;
    background-color: #595959;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 8px 8px 6px 8px;
    color: #fff;
    border-radius: 8px;
    z-index: 1;
    opacity: 0; }
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1; }
  .tooltip-top {
    bottom: 26px;
    left: 50%;
    margin-left: -76px; }
    .tooltip-top::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 20px;
      height: 8px;
      background-image: url("../img/topCenter.svg");
      background-position: center;
      transform: translateX(-50%); }

#cardnumber-error,
#cvc-error,
#date-error {
  display: none !important; }

@media only screen and (max-width: 450px) {
  body {
    height: 100%; }

  .layout {
    margin: 8px 8px 0 8px; }

  .save-section {
    margin-bottom: 38px; }

  .form-item-group-short {
    flex-direction: column; }

  .form-item_short {
    max-width: 100%; }

  .footer-content {
    margin: 16px 0; } }
.custom-tooltip {
  position: absolute;
  top: -100%;
  right: 8px;
  padding: 16px;
  background-color: green;
  color: #fff;
  border-radius: 8px;
  min-width: 226px; }
  .custom-tooltip li {
    font-size: 12px;
    margin-bottom: 4px; }
    .custom-tooltip li b {
      font-weight: 500; }
  .custom-tooltip__title {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500; }
  .custom-tooltip.show {
    top: 8px; }

/*# sourceMappingURL=style.css.map */
