//config
$accent-default: #ff335f;
$accent-hover: #ff446d;
$accent-active: #e1264f;
$accent-disable: #a6a6a6;

$text-title: #595959;
$text-second: #a6a6a6;
$text-disable: #f2f2f2;
$pin-error: #ff3b30;

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.font-value {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
}
.font-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3px;
}
.font-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
}
.default-font {
    font-family: "Roboto", sans-serif;
}
.transition {
    -webkit-transition: all 0.5s 0s ease-out;
    -moz-transition: all 0.5s 0s ease-out;
    -o-transition: all 0.5s 0s ease-out;
    transition: all 0.5s 0s ease-out;
}

footer {
    height: 200px;
    background: linear-gradient(180deg, $text-disable 0%, rgba(242, 242, 242, 0) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex: 0 auto;
}
html {
    min-width: 320px;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    @extend .default-font;
}
input,
button {
    outline: none;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
.form {
    box-shadow: 0px 0px 4px rgba(64, 64, 64, 0.08), 0px 4px 16px rgba(64, 64, 64, 0.16);
    border-radius: 12px;
    position: relative;
    max-width: 412px;
    width: 100%;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 58px;
    margin-bottom: 32px;
    &__logo {
        width: 55px;
        height: 47px;
        position: absolute;
        right: 25px;
        top: 24px;
    }
}
.form-item {
    width: 100%;
    &_short {
        width: 100%;
        max-width: 124px;
        &:first-of-type {
            margin-right: 32px;
        }
        &:last-of-type {
            margin-right: 20px;
        }
    }
    &:first-of-type {
        margin-bottom: 11px;
    }

    &__input {
        @extend .font-value;
        color: $text-title;
        height: 26px;
        max-width: 100%;
        border: 0;
        padding: 0 0 4px 0;
        border-bottom: 1px solid $text-second;
        width: 100%;
        position: relative;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $text-disable;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $text-disable;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $text-disable;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $text-disable;
        }
        &:focus {
            border-color: $accent-default;
            @extend .transition;
            caret-color: $accent-default;
        }
        &.error {
            border-color: $pin-error;
        }
    }

    &__label {
        @extend .font-label;
        margin-bottom: 11px;
        color: $text-second;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        height: 18px;
    }
    &__error {
        min-height: 14px;
        margin-top: 4px;
        @extend .font-error;
        &_date {
            min-height: 28px;
        }
    }
    &.error {
        .form-item__error {
            & .hidden {
                visibility: visible;
            }
        }
        .form-item__input {
            color: $pin-error;
            border-color: $pin-error;
        }
        .form-item__label {
            color: $pin-error;
        }
    }
}
.error {
    color: $pin-error;
}
.hidden {
    visibility: hidden;
}
.icon-question {
    margin-left: 8px;
    width: 18px;
    height: 18px;
    background-image: url("../img/ic_ques.svg");
    background-position: center;
    @extend .transition;
    &:hover {
        background-image: url("../img/ic_ques-hover.svg");
    }
}
.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.wrapper {
    flex: 1;
    flex: 1 0 auto;
}

.form-item-group-short {
    display: flex;
}
.footer-content {
    flex-direction: column;
    margin: 16px 0;
    &__text {
        margin-bottom: 16px;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        width: 160px;
        margin-bottom: 24px;
    }
    &__text {
        max-width: 209px;
        @extend .font-label;
        font-size: 11px;
        color: $text-second;
        position: relative;
        padding-left: 22px;
        &::after {
            content: "";
            position: absolute;
            bottom: 50%;
            left: 0;
            transform: translateY(50%);
            width: 16px;
            height: 16px;
            background-image: url("../img/ic_lock.svg");
            background-position: center;
        }
    }
    &__order {
        @extend .font-label;
        font-size: 11px;
        color: $text-second;
    }
}

.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    padding: 23px 106px;
    border-radius: 56px;
    border: 0;
    letter-spacing: 0.3px;
    cursor: pointer;
    background-color: $accent-default;
    margin-bottom: 24px;
    @extend .transition;
    &:hover {
        box-shadow: 0px 0px 16px $accent-default;
        background-color: $accent-hover;
    }
    &:active {
        background-color: $accent-active;
        box-shadow: none;
    }
    &:disabled {
        background-color: $accent-disable;
        box-shadow: none;
        cursor: not-allowed;
    }
}

.text-offert {
    color: $accent-disable;
    @extend .font-label;
    font-size: 11px;
    max-width: 240px;
    text-align: center;
    margin-bottom: 24px;
    a {
        color: $text-title;
        text-decoration: underline;
    }
}
.save-section {
    margin-bottom: 68px;
}
.save-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    @extend .transition;
    & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        cursor: pointer;
        letter-spacing: 0.3px;
        &:before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid $accent-disable;
            border-radius: 6px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: 16px;
        }
    }
    &:checked {
        & + label {
            &::before {
                background-color: transparent;
                border: 0;
                background-image: url("../img/checked.svg");
            }
        }
    }
    &:focus {
        &:not(:checked) + label::before {
            border-color: $accent-disable;
            border: 2px solid $accent-disable;
        }
    }
    &:disabled + label::before {
        background-color: $accent-disable;
        border: 0;
    }
}

.tooltip {
    position: relative;
    cursor: pointer;
    & .tooltip-text {
        visibility: hidden;
        position: absolute;
        width: 152px;
        background-color: $text-title;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.3px;
        text-align: center;
        padding: 8px 8px 6px 8px;
        color: #fff;
        border-radius: 8px;
        z-index: 1;
        opacity: 0;
        @extend .transition;
    }
    &:hover {
        & .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
    }
    &-top {
        bottom: 26px;
        left: 50%;
        margin-left: -76px;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            width: 20px;
            height: 8px;
            background-image: url("../img/topCenter.svg");
            background-position: center;
            transform: translateX(-50%);
        }
    }
}
#cardnumber-error,
#cvc-error,
#date-error {
    display: none !important;
}

@media only screen and (max-width: 450px) {
    body {
        height: 100%;
    }
    .layout {
        margin: 8px 8px 0 8px;
    }
    .save-section {
        margin-bottom: 38px;
    }
    .form-item-group-short {
        flex-direction: column;
    }
    .form-item_short {
        max-width: 100%;
    }
    .footer-content {
        margin: 16px 0;
    }
}
.custom-tooltip {
    position: absolute;
    top: -100%;
    right: 8px;
    padding: 16px;
    background-color: green;
    color: #fff;
    border-radius: 8px;
    min-width: 226px;
    li {
        font-size: 12px;
        margin-bottom: 4px;
        b {
            font-weight: 500;
        }
    }
    &__title {
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: 500;
    }

    @extend .transition;
    &.show {
        top: 8px;
    }
}
